<!-- project/templates/project/base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipe Sharing Project</title>
    <link rel="stylesheet" href="{% static 'project_styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <!-- Recipe List -->
                 <li>
                <a href="{% url 'recipe_list' %}">All Recipes</a>
                </li>
                
                <li>
                <!-- Recipe Create -->
                <a href="{% url 'create_recipe' %}">Add New Recipe</a>
                </li>

                <li>
                <!-- Meal Plan List -->
                <a href="{% url 'mealplan_list' %}">Meal Plans</a>
                </li>

                <li>
                <!-- Ingredient List -->
                <a href="{% url 'show_all_ingredients' %}">Ingredients</a>
                </li>

                <li>
                <!-- Login Logout -->
                {% if user.is_authenticated %}
                    
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                    <li><p>Welcome {{ user.username }}</p></li>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
                </li>
                
            </ul>
        </nav>
    </header>
    <main>
        <div class="content">
            {% block content %}
            
            {% endblock %}
        </div>
    </main>
</body>
</html>
