<!-- project/templates/project/base.html -->
 <!-- Author: Nick Chang (nechang@bu.edu), 12/1/2024 -->
<!-- contains all of the html extends like the nav bar and title -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipe Sharing Project</title>
    <link rel="stylesheet" href="{% static 'project_styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="{% url 'recipe_list' %}" class="btn primary">All Recipes</a></li>
                <li><a href="{% url 'create_recipe' %}" class="btn success">Add New Recipe</a></li>
                <li class="dropdown">
                    <a href="#" class="btn info">Meal Plans</a>
                    <div class="dropdown-content">
                        <a href="{% url 'mealplan_list' %}">All Meal Plans</a>
                        <a href="{% url 'mealplan_weekly' %}">Weekly Meal Plan</a>
                        <a href="{% url 'create_mealplan' %}">Create New Meal Plan</a>
                    </div>
                </li>
                <li><a href="{% url 'show_all_ingredients' %}" class="btn warning">Ingredients</a></li>
                {% if user.is_authenticated %}
                    <li>
                        <form method="post" action="{% url 'logout' %}" class="inline-form">
                            {% csrf_token %}
                            <button type="submit" class="btn danger logout-btn">Logout</button>
                        </form>
                    </li>
                    <li><a href="{% url 'delete_account' %}" class="btn danger">Delete Account</a></li>
                    <li><p>Welcome, {{ user.username }}</p></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="btn primary">Login</a></li>
                    <li><a href="{% url 'register' %}" class="btn success">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="content">
            {% block content %}
            
            {% endblock %}
        </div>
    </main>
</body>
</html>
