<!-- project/templates/project/ingredient_list.html -->

{% extends "project/base.html" %}

{% block title %}Ingredients{% endblock %}

{% block content %}
<h1>Ingredients</h1>

<!-- Ingredient Form -->
<h2>Add New Ingredient</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Ingredient</button>
</form>

<!-- List of Ingredients -->
<h2>All Ingredients</h2>
<ul>
    {% for ingredient in ingredients %}
        <li>
            {{ ingredient.name }}
        </li>
    {% empty %}
        <li>No ingredients available.</li>
    {% endfor %}
</ul>
{% endblock %}
