<!-- project/templates/project/recipe_list.html -->

{% extends "project/base.html" %}

{% block content %}
<h1>Recipes</h1>
<ul>
    {% for recipe in recipes %}
        <li>
            <a href="{% url 'recipe_detail' recipe.pk %}"><strong>{{ recipe.title }}</strong></a> 
            by {{ recipe.user.username|default:"Unknown" }}<br>
            Cooking Time: {{ recipe.cooking_time }} minutes<br>
            Difficulty: {{ recipe.difficulty_level }}
        </li>
    {% endfor %}
</ul>
{% endblock %}

