<!-- quotes/templates/restaurant/base.html -->
<!--
a base page that will provide a header and navigation for the page, 
as well as including any necessary style information
-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Restaurant App Base</title>
    <link rel="stylesheet" href="/static/restaurant_styles.css">
</head>
<body>
    <header>
        <h1>Noodle Street</h1>
        <nav>
            <ul>
                <li><a href="/restaurant/main">Main</a></li>
                <li><a href="/restaurant/order/">Order</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>

{% block content %}
<!-- fill in this section with specific page detail -->
<h1>Welcome to Noodle St. Website!</h1>

{% endblock %}