<!-- quotes/templates/quotes/about.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Uncle Iroh</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>About Uncle Iroh</h1>
        <nav>
            <ul>
                <li><a href="/quotes/">Back</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <p>Uncle Iroh is a beloved character from the animated series *Avatar: The Last Airbender*. He is known for his wisdom, 
            kindness, and love for tea. Throughout the series, he shares many profound quotes that reflect his philosophical outlook on life.</p>
    </main>
</body>
</html>
