<!-- quotes/templates/quotes/base.html -->
 {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quotes App Base</title>
    <link rel="stylesheet" href="{% static '/quote_styles.css' %}">
</head>
<body>
    <header>
        <h1>Quotes by Uncle Iroh</h1>
        <nav>
            <ul>
                <li><a href="/quotes/about/">About</a></li>
                <li><a href="/quotes/quote/">Quote</a></li>
                <li><a href="/quotes/show_all/">Show All</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>